<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038807607298-1pf9e3ieqgsv8mspb774v1bt8l97jui8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038807607298-1pf9e3ieqgsv8mspb774v1bt8l97jui8</string>
	<key>API_KEY</key>
	<string>AIzaSyBJspaV-4rTlsMSf0Y4WQ4HJkarMps46dA</string>
	<key>GCM_SENDER_ID</key>
	<string>1038807607298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evalentina.Try</string>
	<key>PROJECT_ID</key>
	<string>socialmedia-15ffd</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmedia-15ffd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038807607298:ios:5fe6822d4097032e6edf1b</string>
</dict>
</plist>